.landing {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/48/be/86/48be861cef9815129ae2ee52baf94151.jpg");
  background-size: cover;
  text-align: center;
}
.landing h1 {
  font-size: xx-large;
  font-weight: bold;
}
