.graph {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("https://i.ytimg.com/vi/Ot4_Jx746pU/maxresdefault.jpg");
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .graph {
    background-image: url("https://i.pinimg.com/originals/f7/70/13/f77013f4d3abbea9caf86deb4ab40800.png");
    background-size: cover;
  }
}
